img {
    max-width: 100%;
    height: auto;
  }

a {
    text-decoration: none;
  }
  
  textarea {
    overflow: hidden;
  }  
  
  textarea,
  input {
    outline: none;
  }
  
  textarea:focus,
  input:focus {
    border-bottom: 2px solid #F47821;
  }
  
  .container {
    padding-left: 10px;
    padding-right: 10px;
   }