.input-thumb {
        content: "1";
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border: 1px solid rgba(247, 248, 250, 0.23);
        border-radius: 100px;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: normal;
        text-align: center;
        color: #f47821;
        left: -100px;
        top: -20px;
        
    @media (max-width: 900px) {
      display: none;
    }
  }